<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Margaret Gesner Creator</title>
		<link rel="stylesheet" href="client/styles.css">
		<script type="text/javascript" src="client/margaret.js"></script>
	</head>
	<body onload="new MargaretGrip();">
		<div class="navigation">
			<button class="structure-link" title="{{ ITEM_BACK_TO_STRUCTURE_TITLE }}" onclick="location.href='/'"><<</button>
		</div>
		<div class="builder-menu">
			<form class="builder-form">
				<table class="builder-table">
					<colgroup>
						<col style="width:10%">
						<col style="width:1%">
						<col style="width:89%;">
					</colgroup>
					<tr>
						<td><label for="new-table-alias" title={{ name }}>{{ NEW_TABLE_ALIAS }}</label></td>
						<td><button class="clear-button" title="{{ ITEM_CANCEL_EDIT_TITLE }}">X</button></td>
						<td><input type="text" name="new-table-alias" class="table-input" value="{{ alias }}"></td>
					</tr>
					{% for i in range(content | length) %}
						<tr>
							<td>

								{% if content[i][1] == 0 %}
									<input type="radio" id="row-text-{{ i +1 }}" name="row-{{ i +1 }}-type" value="0" checked disabled>
								{% else %}
									<input type="radio" id="row-text-{{ i +1 }}" name="row-{{ i +1 }}-type" value="0" disabled>
								{% endif %}
								<label for="row-text-{{ i +1 }}">{{ RADIO_TEXT }}</label>
								{% if content[i][1] == 1 %}
									<input type="radio" id="row-date-{{ i +1 }}" name="row-{{ i +1 }}-type" value="1" checked disabled>
								{% else %}
									<input type="radio" id="row-date-{{ i +1 }}" name="row-{{ i +1 }}-type" value="1" disabled>
								{% endif %}
								<label for="row-date-{{ i +1 }}">{{ RADIO_DATE }}</label>
								{% if content[i][1] == 2 %}
									<input type="radio" id="row-number-{{ i +1 }}" name="row-{{ i +1 }}-type" value="2" checked disabled>
								{% else %}
									<input type="radio" id="row-number-{{ i +1 }}" name="row-{{ i +1 }}-type" value="2" disabled>
								{% endif %}
								<label for="row-number-{{ i +1 }}">{{ RADIO_NUMBER }}</label>
							</td>
							<td>
								<button class="delete-button" title="{{ ITEM_DELETE_COLUMN_TITLE }}">X</button>
							</td>
							<td>
								<input type="text" name="new-table-row" class="table-input" value="{{ content[i][0] }}" placeholder="{{ RAW_PLACEHOLDER }}">
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td><button class="new-column-button" title="{{ ITEM_NEW_TABLE_COLUMN_TITLE }}">+</button></td>
						<td></td>
					</tr>
				</table>
				<input type="submit" name="submit" title="{{ ITEM_SUBMIT_NEW_TABLE_TITLE }}" value="V">
			</form>
		</div>
	</body>
</html>