<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ ITEM_INDEX_PAGE_TITLE }}</title>
		<link rel="stylesheet" href="client/styles.css">
		<script type="text/javascript" src="client/margaret.js"></script>
	</head>
	<body>
		{% if TOOLTIP_INDEX_LIST is not none %}
			<div class="tooltip-index-area">
				{% for line in TOOLTIP_INDEX_LIST %}
					<p>{{ line }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<div class="structure-table">
			<table class="structure-table-menu">
				<colgroup>
					<col style="width:5%">
					<col style="width:5%">
					<col style="width:90%;">
				</colgroup>
				{% for i in range(names | length) %}
					<tr class="structure-table-menu-row">
						<td>
							<button class="structure-table-menu-item" title="{{ ITEM_DELETE_TITLE }}" onclick="MargaretGrip.structureDeleteTable(event,'{{ names[i] }}','{{ CONFIRM_DELETE_TABLE }}','{{ ALERT_UNHANDLED_STATUS }}','{{ ALERT_NOT_ALLOWED }}')">X</button>
						</td>
						<td>
							<button class="structure-table-menu-item" title="{{ ITEM_EDIT_TITLE }}" onclick="location.href='edit-{{ names[i] }}-{{ serials[i] }}'">»</button>
						</td>
						<td>
							<button class="structure-table-menu-item" title="{{ ITEM_OPEN_TABLE_TITLE }}" onclick="location.href='table-{{ names[i] }}-{{ serials[i] }}'">
								{{ aliases[i] }}
							</button>
						</td>
					</tr>
				{% endfor %}
				<tr class="structure-table-menu-row">
					<td>
						<button class="structure-table-menu-item new-table-button" title="{{ ITEM_NEW_TABLE_TITLE }}" onclick="location.href='table-builder'">+</button>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>