.manage-table {
	padding: 5px 10px 0px 10px;
}
.table-adding-label {
	padding-right: 5px;
	padding-left: 5px;
	border: 2px solid black;
}
.structure-table {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.structure-table-menu-item {
	width: 100%;
	background-color: white;
	border: 3px solid black;
	margin: 1px;
	font: 2rem "Times New Roman", sans-serif;
}
.structure-table-menu-item:hover {
	background-color: #E8E7E3;
}
.structure-link {
	background-color: white;
	border: 2px solid black;
	font: 1rem "Times New Roman", sans-serif;
	font-weight: bold;
}
.structure-link:hover {
	background-color: #E8E7E3;
}
.table-edit-menu-item {
	background-color: white;
	border: 2px solid black;
	font: 1rem "Times New Roman", sans-serif;
	font-weight: bold;
}
.table-edit-menu-item:hover {
	background-color: #E8E7E3;
}
.table-menu-item {
	background-color: white;
	border: none;
	font: 1rem "Times New Roman", sans-serif;
}
.table-menu-item:hover {
	background-color: #E8E7E3;
}
td.table-content-data {
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}
td.table-content-edit {
	text-align: center;
	width: 10px;
	border: 2px solid black;
	padding: 0;
	padding-top: 0;
}
td.table-input-data {
	border: 2px solid black;
	padding-left: 2px;
	padding-right: 10px;
}
td.builder-input-data {
	text-align: center;
	border: 2px solid black;
}
td.builder-alias-data {
	text-align: center;
	border: 2px solid black;
}
.table-content {
	width: 100%;
}
.table-header-sort {
	border: none;
	background-color: white;
	font-size: 25px;
}
.table-adding {
	padding-bottom: 10px;
}
.table-input {
	width: 100%;
	border: none;
}
.structure-table-menu-row {
	justify-content: center;
}
.navigation {
	display: flex;
	padding: 10px 10px 5px 10px;
}
.builder-menu {
	padding: 0px 10px 10px 10px;
}
.builder-table {
	width: 100%;
}
.table-edit-submit-item {
	width: 100%;
	background-color: white;
	border: none;
}
.table-edit-submit-item:hover {
	background-color: #E8E7E3;
}