.manage-table {
	padding: 10px 10px 0px 10px;
}
.table-adding-label {
	padding-right: 5px;
}
.structure-table {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 10px 10px 10px;
}
.structure-table-menu {
	border: 5px solid blue;
	margin: 10px;
}
.structure-table-menu-item {
	background-color: white;
	border: 5px solid green;
	margin: 10px;
	font: 2rem "Times New Roman", sans-serif;
}
.structure-table-menu-item:hover {
	background-color: #E8E7E3;
}
td.table-content-data {
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}
td.table-content-edit {
	text-align: center;
	width: 10px;
}
.table-content {
	width: 100%;
}
.table-header-sort {
	border: none;
	background-color: white;
	font-size: 25px;
}
.table-adding {
	padding-bottom: 10px;
}
.table-input {
	width: 100%;
}
.structure-table-menu-row {
	display: flex;
	justify-content: center;
}
.navigation {
	display: flex;
	padding: 10px;
}
.builder-menu {
	padding: 0px 10px 10px 10px;
}
.builder-table {
	width: 100%;
}