<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ alias }}</title>
		<link rel="stylesheet" href="static/styles.css">
		<script type="text/javascript" src="static/table.js"></script>
	</head>
	<body onload="new MargaretGrip('{{ name }}');">
		<div class="navigation">
			<button class="structure-link" title="{{ ITEM_BACK_TO_STRUCTURE_TITLE }}" onclick="location.href='/'"><<</button>
		</div>
		<div class="manage-table">
			<form class="manage-form">
				<table class="table-adding">
					<colgroup>
						<col style="width:auto;">
						<col style="width:100%;">
					</colgroup>
					{% for i in range(content[0] | length) %}
						<tr>
							<td class="table-adding-label"><label for='{{ i }}'>{{ content[0][i] }}</label></td>
							<td>
								{% if content[1][i] == 10 %}
									<input class="table-input" name='{{ i }}' type='text' placeholder="{{ ITEM_DATE_TYPE_PLACEHOLDER }}">
								{% else %}
									<input class="table-input" name='{{ i }}' type='text'>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
				<input type="submit" name="submit" value="+" title="{{ ITEM_SUBMIT_NEW_ROW_TITLE }}">
				<input type="submit" name="cancel" value="X" title="{{ ITEM_CANCEL_EDIT_TITLE }}">
				<input type="submit" name="update" value="V" title="{{ ITEM_SUBMIT_ROW_UPDATE_TITLE }}">
			</form>
		</div>
		<div class="structure-table">
			<table class="table-content">
				<tr>
					<th></th><th></th>
					{% for i in range(content[0] | length) %}
						<th class="type-code-{{ content[1][i] }}">
						{{ content[0][i] }}
						<button class="table-header-sort" title="{{ ITEM_SORTING_TOGGLE_TITLE }}">&#11123</button>
					</th>
					{% endfor %}
				</tr>
				{% for row in content[2] %}
					<tr>
						<td class="table-content-edit">
							<button class="delete-button" title="{{ ITEM_DELETE_ROW_TITLE }}">X</button>
						</td>
						<td class="table-content-edit">
							<button class="update-button" title="{{ ITEM_EDIT_ROW_TITLE }}">»</button>
						</td>
						{% for item in row %}
							{% if item is not none %}
								<td class="table-content-data">{{ item }}</td>
							{% else %}
								<td class="table-content-data"></td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>