<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ alias }}</title>
		<link rel="stylesheet" href="static/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="static/table.js"></script>
	</head>
	<body onload="new MargaretGrip('{{ name }}')">
		<div class="navigation">
			<button class="structure-link" onclick="location.href='/'"><<</button>
		</div>
		<div class="manage-table">
			<form class="manage-form">
				<table class="table-adding">
					<colgroup>
						<col style="width:auto;">
						<col style="width:100%;">
					</colgroup>
					{% for i in range(content[0] | length) %}
						<tr>
							<td class="table-adding-label"><label for='{{ i }}'>{{ content[0][i] }}</label></td>
							<td><input class="table-input" name='{{ i }}' type='text'></td>
						</tr>
					{% endfor %}
				</table>
				<input type="submit" name="submit" value="+">
				<input type="submit" name="cancel" value="X">
				<input type="submit" name="update" value="V">
			</form>
		</div>
		<div class="structure-table">
			<table class="table-content">
				<tr>
					<th></th><th></th>
					{% for column in content[0] %}
						<th>{{ column }}</th>
					{% endfor %}
				</tr>
				{% for row in content[1] %}
					<tr>
						<td class="table-content-edit">
							<button class="delete-button">X</button>
						</td>
						<td class="table-content-edit">
							<button class="update-button">»</button>
						</td>
						{% for item in row %}
							{% if item is not none %}
								<td class="table-content-data">{{ item }}</td>
							{% else %}
								<td class="table-content-data"></td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>